.navbar {
    background-color: #F2F2F2;
    height: 100vh;
}

.navbar a {
    font-size: 1.25em;
    color: black;
}

.navbar a:hover {
    color: #485CFC;
}

.header {
    border-bottom: 2px solid #F2F2F2;
}

.content-box {
    width: 100%;
    margin: 0;
}

.login-form {
    max-width: 400px;
}

.field-validation-error {
    color: red;
    font-size: small;
}

.bg-grey {
    background-color: #f4f5f9;
}

.btn, input[type=text], input[type=password] {
    border-radius: 12px;
}
